body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

#mainTbl {

  cellpadding: 10;
  cellspacing: 10;

  width: 50%;
  margin: 0 auto;
}

.hole {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.middle-line td {
  /* border: 1px solid black; */
}

/* ul.hole-inner {
  margin: 0;
  padding: 0;
  display: inline-flex;
}

ul.hole-inner li {
  display: block;
  font-size: 1.2em;
} */

.hole-i1 {
  display: table-cell;
}

.hole-inner {
	background:#f00;
	display:inline-block;
	height:10px;
  /* margin-left:22px; */
  margin: 0 10px 0 10px;
	width:10px;
  border-radius: 5px;
}
