body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  text-align: center;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

img {
  margin: 20px 0;
  max-width: 200px;
}

#mainTbl {

  cellpadding: 10;
  cellspacing: 10;

  width: 50%;
  margin: 0 auto;
}


.middle-line td {
  /* border: 1px solid black; */
}

/* ul.hole-inner {
  margin: 0;
  padding: 0;
  display: inline-flex;
}

ul.hole-inner li {
  display: block;
  font-size: 1.2em;
} */


.hole {
  border: 1px solid black;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}


/* .hole-i1 {
  display: table-cell;
  padding: 0 10px;
}

.hole-inner {
	background:#f00;
	height:10px;
  width:10px;
  border-radius: 5px;

  display:inline-block;
  margin: 0 10px 0 10px;
} */


.hole-i1 {
  min-height: 100px;
  padding: 0 10px;


  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.hole-inner {
  flex: 0 0 auto;
  margin: 5px;

  background:#f00;
	height:10px;
  width:10px;
  border-radius: 5px;
}
